In [1]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("data/trading/history/day/2018-03-14/603758")
df = df.replace('买盘', 'buy').replace('卖盘', 'sell')
df_trans = df[['time', 'price', 'volume', 'amount', 'type']].dropna()
df_trans = df_trans[df_trans['amount'] > 9000]

head_max_count = df_trans.volume.value_counts().head(5)
print (head_max_count)
_df = df_trans[df_trans.volume.isin([17,18,35])]
print (_df.amount.sum() / df_trans.amount.sum())

_df.time = pd.to_datetime(_df.time)
_df_trans = _df.set_index('time')
df_count = _df_trans.to_period('T').index.value_counts().rename('mins_count').to_frame()
print (df_count)
df_resample_10m = df_count.resample('10T').sum().dropna()
print (df_resample_10m)
df_resample_20m = df_count.resample('20T').sum().dropna()
df_resample_20m

17    298
18    256
10    121
20     66
35     65
Name: volume, dtype: int64
0.209833415556
                  mins_count
2018-03-30 09:57          15
2018-03-30 14:31          15
2018-03-30 10:12          13
2018-03-30 09:53          13
2018-03-30 09:52          13
2018-03-30 10:09          13
2018-03-30 14:32          11
2018-03-30 13:52          11
2018-03-30 09:37          11
2018-03-30 14:30          11
2018-03-30 14:37          11
2018-03-30 13:10          10
2018-03-30 10:24          10
2018-03-30 10:14           9
2018-03-30 13:36           9
2018-03-30 14:38           9
2018-03-30 13:58           9
2018-03-30 10:48           9
2018-03-30 10:13           9
2018-03-30 14:04           8
2018-03-30 09:48           8
2018-03-30 13:53           8
2018-03-30 13:44           8
2018-03-30 10:08           8
2018-03-30 10:01           8
2018-03-30 13:57           8
2018-03-30 10:33           7
2018-03-30 10:34           7
2018-03-30 13:47           7
2018-03-30 10:30           7
...                      ...
2018-03-30 14:59           1
2018-03-30 11:11           1
2018-03-30 10:16           1
2018-03-30 10:26           1
2018-03-30 14:44           1
2018-03-30 14:40           1
2018-03-30 14:23           1
2018-03-30 14:15           1
2018-03-30 14:02           1
2018-03-30 14:01           1
2018-03-30 13:56           1
2018-03-30 13:48           1
2018-03-30 13:42           1
2018-03-30 13:29           1
2018-03-30 13:24           1
2018-03-30 13:13           1
2018-03-30 13:07           1
2018-03-30 11:28           1
2018-03-30 11:23           1
2018-03-30 11:22           1
2018-03-30 11:17           1
2018-03-30 11:05           1
2018-03-30 10:57           1
2018-03-30 10:55           1
2018-03-30 10:43           1
2018-03-30 10:42           1
2018-03-30 10:40           1
2018-03-30 10:38           1
2018-03-30 10:35           1
2018-03-30 14:57           1

[135 rows x 1 columns]
                     mins_count
2018-03-30 09:30:00        12.0
2018-03-30 09:40:00        37.0
2018-03-30 09:50:00        64.0
2018-03-30 10:00:00        34.0
2018-03-30 10:10:00        49.0
2018-03-30 10:20:00        35.0
2018-03-30 10:30:00        33.0
2018-03-30 10:40:00        24.0
2018-03-30 10:50:00        23.0
2018-03-30 11:00:00         6.0
2018-03-30 11:10:00         2.0
2018-03-30 11:20:00         3.0
2018-03-30 13:00:00         6.0
2018-03-30 13:10:00        22.0
2018-03-30 13:20:00         2.0
2018-03-30 13:30:00        20.0
2018-03-30 13:40:00        24.0
2018-03-30 13:50:00        58.0
2018-03-30 14:00:00        44.0
2018-03-30 14:10:00         8.0
2018-03-30 14:20:00         5.0
2018-03-30 14:30:00        86.0
2018-03-30 14:40:00         4.0
2018-03-30 14:50:00        18.0

/home/cloud001/ly/mygithub/stock/local/lib/python3.5/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

                     mins_count
2018-03-30 09:20:00        12.0
2018-03-30 09:40:00       101.0
2018-03-30 10:00:00        83.0
2018-03-30 10:20:00        68.0
2018-03-30 10:40:00        47.0
2018-03-30 11:00:00         8.0
2018-03-30 11:20:00         3.0
2018-03-30 13:00:00        28.0
2018-03-30 13:20:00        22.0
2018-03-30 13:40:00        82.0
2018-03-30 14:00:00        52.0
2018-03-30 14:20:00        91.0
2018-03-30 14:40:00        22.0