In [3]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

## set 
np.set_printoptions(threshold='nan')

stocks = [
    '601006',
    '600919',
    '601328',
    '600027',
    '600115',
    '603260',
    '600023',
    '600521',
    '600332',
    '603260',
    '601333'
    '01333'
]

df_raw = pd.read_csv("data/trading/history/day/tracking_trading_day.csv")

df = df_raw

df.sort_values(by=['total_vol_type_amount'], ascending=False)
df.date = pd.to_datetime(df.date)

df_buy = df[df['type'] == 'buy']
df_sell = df[df['type'] == 'sell']

print ("------------------")
print ("today:")
date = datetime.date.today().strftime("%Y-%m-%d")
date = "2018-04-03"
print (df[df.date == date])

print ("list history with today's stock codes:")
print (df[df.code.isin(df[df.date == date]['code'])].sort_values(['code', 'date','type_pct'], ascending=[True, True, False]))
_df = df.groupby(['code', 'type']).agg('size')
df_buy_sell = df[df.code.isin(_df.unstack().dropna().index)].sort_values(['code', 'date', 'type_pct'], ascending=[True, True, False])
print ("list buy&sell history with today's stock codes:")
print (df_buy_sell[df_buy_sell.code.isin(df_buy_sell[df_buy_sell.date == date]['code'])])
print ("code which have buy&sell history:")
print (df_buy_sell)

print ("END: today")
print ("------------------------------")

print ("my stocks:")
print (df[df.code.isin(stocks)].sort_values(['code', 'date','type_pct'], ascending=[True, True, False]))

print ("Warning!!!")
print (df_sell[df_sell.code.isin(stocks)])

print ("Congrats!!!")
print (df_buy[df_buy.code.isin(stocks)])


# print ('tail 20:')
# print (df.tail(20))

# print ('buy&sell code >=2:')
# _df = df.groupby(['code', 'type']).agg('size')
# df_buy_sell = df[df.code.isin(_df.unstack().dropna().index)].sort_values(['code', 'date', 'type_pct'], ascending=[True, True, False])
# print (df_buy_sell)

print (df_buy_sell[df_buy_sell.code.isin(df_buy_sell[df_buy_sell.date == "2018-03-30"]['code'])])
print ('buy code >2:')
is_df_buy_2more = df_buy.code.value_counts() > 2
df_buy_2more = df_buy[df_buy.code.isin(is_df_buy_2more[is_df_buy_2more == True].index)].sort_values(['code', 'date', 'type_pct'], ascending=[True, True, False])
print (df_buy_2more)


print ('buy code ==2:')
df_2 = df_buy.code.value_counts() == 2
print (df_buy[df_buy.code.isin(df_2[df_2 == True].index)].sort_values(['code', 'date', 'type_pct'], ascending=[True, True, False]))

print ('buy code ==1:')
df_1 = df_buy.code.value_counts() == 1
print (df_buy[df_buy.code.isin(df_1[df_1 == True].index)].sort_values(['type_pct', 'total_vol_type_amount', 'amount_pct'], ascending=[False,  False, False]))
print ('buy code head 12:')
print (df_buy[df_buy.code.isin(df_buy.code.value_counts().head(12).index)].sort_values('code'))

print('buy amount_pct:')
print (df_buy.sort_values(by=['amount_pct'], ascending=False))

print ('amount mean:')
print (df_raw.sort_values(['amount_mean'], ascending=False))



print(df[df.code.isin(["603758"])])
print(df[df.code.isin(["603767"])])
print(df[df.code.isin(["600023"])])

------------------
today:
          date    code  type  type_pct vol   amount_mean  \
330 2018-04-03      28   buy  0.839635   2  11571.731421
331 2018-04-03    2493  sell  0.967078   8  11352.271605
332 2018-04-03  600596  sell  0.922607   8  10286.435845
333 2018-04-03  600420  sell  0.953358  12  13897.164179
334 2018-04-03    2126   buy  0.984694  32  28654.035714
335 2018-04-03    2798   buy  0.872587   3  15204.274131
336 2018-04-03  603008   buy  0.904762   5   9184.125313
337 2018-04-03    2711   buy  0.934132  24  23851.251497
338 2018-04-03  300558  sell  0.841629   2  13727.565611
339 2018-04-03  603767   buy  0.793451  19  29387.176322
340 2018-04-03  600023  sell  0.962766  36  19668.000000
341 2018-04-03     423  sell  0.833333  10  60875.464052

     total_vol_type_amount  amount_pct  day_amount
330           7.452195e+06    0.042885   173773028
331           5.335568e+06    0.055277    96524734
332           4.659755e+06    0.029497   157976215
333           7.101451e+06    0.124842    56883565
334           5.530229e+06    0.044139   125292231
335           3.436166e+06    0.090737    37869718
336           3.315469e+06    0.080055    41414816
337           3.720795e+06    0.028989   128352047
338           7.659982e+06    0.036068   212373519
339           9.256961e+06    0.046887   197429681
340           3.559908e+06    0.054911    64830767
341           1.552324e+07    0.053113   292266525
list history with today's stock codes:
          date    code  type  type_pct           vol   amount_mean  \
149 2018-03-12      28   buy  0.873272             3  18052.541475
162 2018-03-13      28   buy  0.842000             2  11960.170000
224 2018-03-20      28   buy  0.800587             2  12154.828446
265 2018-03-27      28   buy  0.792381             3  18258.784762
290 2018-03-29      28   buy  0.781014             2  12049.765911
321 2018-04-02      28   buy  0.773551             2  11768.251812
330 2018-04-03      28   buy  0.839635             2  11571.731421
54  2018-02-28     423  sell  0.851992             2  12050.629032
55  2018-02-28     423  sell  0.790476             5  30076.023810
81  2018-03-02     423  sell  0.837361             2  12037.034387
94  2018-03-05     423  sell  0.922615             2  12027.154169
108 2018-03-06     423  sell  0.780952             5  30170.977143
109 2018-03-06     423  sell  0.780822             3  18158.227006
123 2018-03-07     423  sell  0.768898             5  30208.101512
134 2018-03-08     423  sell  0.901829             2  12086.307026
146 2018-03-09     423  sell  0.792793            10  60932.888889
159 2018-03-12     423  sell  0.838384             5  30710.276094
172 2018-03-13     423  sell  0.759791             5  30484.514360
187 2018-03-14     423  sell  0.904459             2  12067.581934
203 2018-03-15     423  sell  0.912969             2  12108.746587
202 2018-03-15     423  sell  0.862188     [2, 3, 5]  16301.735573
204 2018-03-15     423  sell  0.855905             3  18179.622969
341 2018-04-03     423  sell  0.833333            10  60875.464052
96  2018-03-06    2126   buy  0.956044            15  13507.765568
151 2018-03-12    2126   buy  0.947183            30  28052.211268
177 2018-03-14    2126  sell  0.950166            13  11984.830565
334 2018-04-03    2126   buy  0.984694            32  28654.035714
21  2018-02-26    2493   buy  0.965753            22  37018.770548
24  2018-02-27    2493   buy  0.915929            12  20031.185841
331 2018-04-03    2493  sell  0.967078             8  11352.271605
337 2018-04-03    2711   buy  0.934132            24  23851.251497
138 2018-03-09    2798   buy  0.950949             4  19020.601266
255 2018-03-26    2798   buy  0.833333             2   9701.251852
280 2018-03-28    2798   buy  0.873536             3  14834.953162
324 2018-04-02    2798   buy  0.794521             5  26223.739726
335 2018-04-03    2798   buy  0.872587             3  15204.274131
229 2018-03-20  300558   buy  0.808171             2  12728.291297
338 2018-04-03  300558  sell  0.841629             2  13727.565611
88  2018-03-05  600023   buy  0.971246            18  10105.223642
89  2018-03-05  600023   buy  0.945255            25  14021.937956
200 2018-03-15  600023   buy  0.986577            31  17860.214765
340 2018-04-03  600023  sell  0.962766            36  19668.000000
333 2018-04-03  600420  sell  0.953358            12  13897.164179
164 2018-03-13  600596   buy  0.917526            35  49289.123711
190 2018-03-15  600596  sell  0.842105            20  28031.255981
332 2018-04-03  600596  sell  0.922607             8  10286.435845
83  2018-03-05  603008  sell  0.918415            20  32829.822844
115 2018-03-07  603008  sell  0.932458            10  16436.857411
325 2018-04-02  603008   buy  0.949477             6  10942.468641
336 2018-04-03  603008   buy  0.904762             5   9184.125313
300 2018-03-29  603767   buy  0.884211  [17, 18, 35]  32714.752632
339 2018-04-03  603767   buy  0.793451            19  29387.176322

     total_vol_type_amount  amount_pct  day_amount
149           6.841913e+06    0.113357    60357140
162           5.035232e+06    0.106470    47292329
224           6.636536e+06    0.038552   172143664
265           7.595654e+06    0.054374   139693139
290           8.724031e+06    0.108284    80566129
321           5.025044e+06    0.027868   180313614
330           7.452195e+06    0.042885   173773028
54            1.082146e+07    0.046730   231574838
55            9.985240e+06    0.043119   231574838
81            1.084537e+07    0.054374   199458468
94            1.849776e+07    0.085468   216430214
108           1.237010e+07    0.046811   264255882
109           7.245133e+06    0.027417   264255882
123           1.075408e+07    0.032018   335878062
134           1.132487e+07    0.031787   356275149
146           1.608628e+07    0.055190   291469575
159           1.529372e+07    0.045576   335568663
172           8.870994e+06    0.033236   266911236
187           1.884956e+07    0.099313   189799072
203           1.295636e+07    0.057193   226536765
202           3.263607e+07    0.144065   226536765
204           1.436190e+07    0.063398   226536765
341           1.552324e+07    0.053113   292266525
96            3.525527e+06    0.067354    52343115
151           7.546045e+06    0.080727    93475897
177           3.427662e+06    0.105278    32558050
334           5.530229e+06    0.044139   125292231
21            1.043929e+07    0.019457   536539287
24            4.146455e+06    0.013817   300089793
331           5.335568e+06    0.055277    96524734
337           3.720795e+06    0.028989   128352047
138           1.143138e+07    0.253626    45071885
255           2.182782e+06    0.119214    18309848
280           5.533438e+06    0.188832    29303487
324           4.562931e+06    0.078719    57964550
335           3.436166e+06    0.090737    37869718
229           5.791373e+06    0.015357   377127866
338           7.659982e+06    0.036068   212373519
88            3.071988e+06    0.034462    89141682
89            3.631682e+06    0.040741    89141682
200           7.876355e+06    0.052679   149516458
340           3.559908e+06    0.054911    64830767
333           7.101451e+06    0.124842    56883565
164           8.773464e+06    0.021244   412984998
190           9.867002e+06    0.019895   495947861
332           4.659755e+06    0.029497   157976215
83            1.293495e+07    0.308741    41895791
115           8.169118e+06    0.233533    34980570
325           5.963645e+06    0.094571    63059686
336           3.315469e+06    0.080055    41414816
300           1.099216e+07    0.106923   102804454
339           9.256961e+06    0.046887   197429681
list buy&sell history with today's stock codes:
          date    code  type  type_pct vol   amount_mean  \
96  2018-03-06    2126   buy  0.956044  15  13507.765568
151 2018-03-12    2126   buy  0.947183  30  28052.211268
177 2018-03-14    2126  sell  0.950166  13  11984.830565
334 2018-04-03    2126   buy  0.984694  32  28654.035714
21  2018-02-26    2493   buy  0.965753  22  37018.770548
24  2018-02-27    2493   buy  0.915929  12  20031.185841
331 2018-04-03    2493  sell  0.967078   8  11352.271605
229 2018-03-20  300558   buy  0.808171   2  12728.291297
338 2018-04-03  300558  sell  0.841629   2  13727.565611
88  2018-03-05  600023   buy  0.971246  18  10105.223642
89  2018-03-05  600023   buy  0.945255  25  14021.937956
200 2018-03-15  600023   buy  0.986577  31  17860.214765
340 2018-04-03  600023  sell  0.962766  36  19668.000000
164 2018-03-13  600596   buy  0.917526  35  49289.123711
190 2018-03-15  600596  sell  0.842105  20  28031.255981
332 2018-04-03  600596  sell  0.922607   8  10286.435845
83  2018-03-05  603008  sell  0.918415  20  32829.822844
115 2018-03-07  603008  sell  0.932458  10  16436.857411
325 2018-04-02  603008   buy  0.949477   6  10942.468641
336 2018-04-03  603008   buy  0.904762   5   9184.125313

     total_vol_type_amount  amount_pct  day_amount
96            3.525527e+06    0.067354    52343115
151           7.546045e+06    0.080727    93475897
177           3.427662e+06    0.105278    32558050
334           5.530229e+06    0.044139   125292231
21            1.043929e+07    0.019457   536539287
24            4.146455e+06    0.013817   300089793
331           5.335568e+06    0.055277    96524734
229           5.791373e+06    0.015357   377127866
338           7.659982e+06    0.036068   212373519
88            3.071988e+06    0.034462    89141682
89            3.631682e+06    0.040741    89141682
200           7.876355e+06    0.052679   149516458
340           3.559908e+06    0.054911    64830767
164           8.773464e+06    0.021244   412984998
190           9.867002e+06    0.019895   495947861
332           4.659755e+06    0.029497   157976215
83            1.293495e+07    0.308741    41895791
115           8.169118e+06    0.233533    34980570
325           5.963645e+06    0.094571    63059686
336           3.315469e+06    0.080055    41414816
code which have buy&sell history:
          date    code  type  type_pct vol   amount_mean  \
217 2018-03-16    2050   buy  0.752896   8  16173.675676
223 2018-03-19    2050  sell  0.901408   8  15778.945674
32  2018-02-27    2120   buy  0.900000   7  29633.521739
297 2018-03-29    2120  sell  0.888252   2   9748.991404
96  2018-03-06    2126   buy  0.956044  15  13507.765568
151 2018-03-12    2126   buy  0.947183  30  28052.211268
177 2018-03-14    2126  sell  0.950166  13  11984.830565
334 2018-04-03    2126   buy  0.984694  32  28654.035714
42  2018-02-28    2152   buy  0.947917  40  28679.497396
41  2018-02-28    2152   buy  0.906863  20  14302.014706
176 2018-03-14    2152  sell  0.963446  20  15127.862924
210 2018-03-16    2271   buy  0.809399  10  44353.605744
235 2018-03-21    2271  sell  0.845420   3  13265.223282
75  2018-03-02    2368  sell  0.855876   5  11800.017738
245 2018-03-23    2368   buy  0.837079   5  10874.820225
21  2018-02-26    2493   buy  0.965753  22  37018.770548
24  2018-02-27    2493   buy  0.915929  12  20031.185841
331 2018-04-03    2493  sell  0.967078   8  11352.271605
35  2018-02-27    2602   buy  0.878289   3   9746.848684
271 2018-03-27    2602  sell  0.909722   3   9646.342014
90  2018-03-05    2773   buy  0.936688   4  19216.071429
143 2018-03-09    2773   buy  0.875000   2  10634.631250
171 2018-03-13    2773   buy  0.788274   3  16640.153094
272 2018-03-27    2773   buy  0.913043   4  22885.601902
288 2018-03-28    2773  sell  0.859551   2  11121.507022
304 2018-03-29    2773   buy  0.851852   4  21847.574074
52  2018-02-28    2812  sell  0.880631   2  20647.894144
80  2018-03-02    2812  sell  0.825902   3  31829.830149
79  2018-03-02    2812  sell  0.817915   1  10586.493392
273 2018-03-27    2812   buy  0.781609   2  24864.025287
221 2018-03-19  300142   buy  0.881696   5   9456.000000
243 2018-03-22  300142  sell  0.935644   6  11929.400990
315 2018-03-30  300142  sell  0.941834   9  19135.552573
178 2018-03-14  300323   buy  0.916667  14  27922.742063
209 2018-03-16  300323  sell  0.791549   5   9704.949296
229 2018-03-20  300558   buy  0.808171   2  12728.291297
338 2018-04-03  300558  sell  0.841629   2  13727.565611
88  2018-03-05  600023   buy  0.971246  18  10105.223642
89  2018-03-05  600023   buy  0.945255  25  14021.937956
200 2018-03-15  600023   buy  0.986577  31  17860.214765
340 2018-04-03  600023  sell  0.962766  36  19668.000000
139 2018-03-09  600521   buy  0.887255   5  14964.049020
195 2018-03-15  600521  sell  0.865482  20  57917.142132
312 2018-03-30  600521   buy  0.875389   7  22636.330218
164 2018-03-13  600596   buy  0.917526  35  49289.123711
190 2018-03-15  600596  sell  0.842105  20  28031.255981
332 2018-04-03  600596  sell  0.922607   8  10286.435845
30  2018-02-27  600702   buy  0.844485   4  16515.907776
258 2018-03-26  600702  sell  0.873529   3  10903.752941
293 2018-03-29  600702  sell  0.778008   3  10567.692946
82  2018-03-05  600761  sell  0.922414  11  11823.827586
251 2018-03-26  600761   buy  0.939496  10   9832.806723
83  2018-03-05  603008  sell  0.918415  20  32829.822844
115 2018-03-07  603008  sell  0.932458  10  16436.857411
325 2018-04-02  603008   buy  0.949477   6  10942.468641
336 2018-04-03  603008   buy  0.904762   5   9184.125313

     total_vol_type_amount  amount_pct  day_amount
217           3.153867e+06    0.018608   169490086
223           7.068968e+06    0.025621   275910032
32            6.134139e+06    0.108356    56611210
297           3.022187e+06    0.093063    32474558
96            3.525527e+06    0.067354    52343115
151           7.546045e+06    0.080727    93475897
177           3.427662e+06    0.105278    32558050
334           5.530229e+06    0.044139   125292231
42            1.043934e+07    0.053456   195289243
41            5.291745e+06    0.027097   195289243
176           1.116436e+07    0.046051   242436350
210           1.374962e+07    0.083036   165586292
235           5.876494e+06    0.025746   228249145
75            4.554807e+06    0.017500   260270832
245           3.240696e+06    0.022662   143004396
21            1.043929e+07    0.019457   536539287
24            4.146455e+06    0.013817   300089793
331           5.335568e+06    0.055277    96524734
35            2.602409e+06    0.030194    86189888
271           5.054683e+06    0.074113    68202545
90            1.108767e+07    0.145424    76243815
143           4.466545e+06    0.054981    81237406
171           4.026917e+06    0.061528    65448322
272           1.537912e+07    0.130866   117518246
288           6.806362e+06    0.090691    75050300
304           6.029930e+06    0.092237    65374126
52            8.073327e+06    0.115793    69722264
80            1.238180e+07    0.125469    98684039
79            5.896677e+06    0.059753    98684039
273           8.453769e+06    0.050047   168917684
221           3.735120e+06    0.018023   207240027
243           2.254657e+06    0.009469   238105827
315           8.056068e+06    0.020843   386513200
178           6.450153e+06    0.027703   232831251
209           2.727091e+06    0.013762   198155987
229           5.791373e+06    0.015357   377127866
338           7.659982e+06    0.036068   212373519
88            3.071988e+06    0.034462    89141682
89            3.631682e+06    0.040741    89141682
200           7.876355e+06    0.052679   149516458
340           3.559908e+06    0.054911    64830767
139           8.125479e+06    0.038218   212611010
195           1.974975e+07    0.095291   207256804
312           6.360809e+06    0.014572   436495157
164           8.773464e+06    0.021244   412984998
190           9.867002e+06    0.019895   495947861
332           4.659755e+06    0.029497   157976215
30            7.712929e+06    0.024144   319450976
258           6.476829e+06    0.051790   125060520
293           3.962885e+06    0.014973   264663446
82            2.530299e+06    0.029799    84913092
251           5.496539e+06    0.126700    43382423
83            1.293495e+07    0.308741    41895791
115           8.169118e+06    0.233533    34980570
325           5.963645e+06    0.094571    63059686
336           3.315469e+06    0.080055    41414816
END: today
------------------------------
my stocks:
          date    code  type  type_pct vol   amount_mean  \
88  2018-03-05  600023   buy  0.971246  18  10105.223642
89  2018-03-05  600023   buy  0.945255  25  14021.937956
200 2018-03-15  600023   buy  0.986577  31  17860.214765
340 2018-04-03  600023  sell  0.962766  36  19668.000000
20  2018-02-23  600027   buy  0.957393  38  13155.373434
139 2018-03-09  600521   buy  0.887255   5  14964.049020
195 2018-03-15  600521  sell  0.865482  20  57917.142132
312 2018-03-30  600521   buy  0.875389   7  22636.330218

     total_vol_type_amount  amount_pct  day_amount
88            3.071988e+06    0.034462    89141682
89            3.631682e+06    0.040741    89141682
200           7.876355e+06    0.052679   149516458
340           3.559908e+06    0.054911    64830767
20            5.025353e+06    0.098880    50822506
139           8.125479e+06    0.038218   212611010
195           1.974975e+07    0.095291   207256804
312           6.360809e+06    0.014572   436495157
Warning!!!
          date    code  type  type_pct vol   amount_mean  \
195 2018-03-15  600521  sell  0.865482  20  57917.142132
340 2018-04-03  600023  sell  0.962766  36  19668.000000

     total_vol_type_amount  amount_pct  day_amount
195           1.974975e+07    0.095291   207256804
340           3.559908e+06    0.054911    64830767
Congrats!!!
          date    code type  type_pct vol   amount_mean  \
20  2018-02-23  600027  buy  0.957393  38  13155.373434
88  2018-03-05  600023  buy  0.971246  18  10105.223642
89  2018-03-05  600023  buy  0.945255  25  14021.937956
139 2018-03-09  600521  buy  0.887255   5  14964.049020
200 2018-03-15  600023  buy  0.986577  31  17860.214765
312 2018-03-30  600521  buy  0.875389   7  22636.330218

     total_vol_type_amount  amount_pct  day_amount
20            5.025353e+06    0.098880    50822506
88            3.071988e+06    0.034462    89141682
89            3.631682e+06    0.040741    89141682
139           8.125479e+06    0.038218   212611010
200           7.876355e+06    0.052679   149516458
312           6.360809e+06    0.014572   436495157
          date    code  type  type_pct vol   amount_mean  \
221 2018-03-19  300142   buy  0.881696   5   9456.000000
243 2018-03-22  300142  sell  0.935644   6  11929.400990
315 2018-03-30  300142  sell  0.941834   9  19135.552573
139 2018-03-09  600521   buy  0.887255   5  14964.049020
195 2018-03-15  600521  sell  0.865482  20  57917.142132
312 2018-03-30  600521   buy  0.875389   7  22636.330218

     total_vol_type_amount  amount_pct  day_amount
221           3.735120e+06    0.018023   207240027
243           2.254657e+06    0.009469   238105827
315           8.056068e+06    0.020843   386513200
139           8.125479e+06    0.038218   212611010
195           1.974975e+07    0.095291   207256804
312           6.360809e+06    0.014572   436495157
buy code >2:
          date    code type  type_pct           vol   amount_mean  \
149 2018-03-12      28  buy  0.873272             3  18052.541475
162 2018-03-13      28  buy  0.842000             2  11960.170000
224 2018-03-20      28  buy  0.800587             2  12154.828446
265 2018-03-27      28  buy  0.792381             3  18258.784762
290 2018-03-29      28  buy  0.781014             2  12049.765911
321 2018-04-02      28  buy  0.773551             2  11768.251812
330 2018-04-03      28  buy  0.839635             2  11571.731421
96  2018-03-06    2126  buy  0.956044            15  13507.765568
151 2018-03-12    2126  buy  0.947183            30  28052.211268
334 2018-04-03    2126  buy  0.984694            32  28654.035714
90  2018-03-05    2773  buy  0.936688             4  19216.071429

In [204]:
df_trans = df[['time', 'price', 'volume', 'amount', 'type']]
df_trans = df_trans.dropna()
df_trans.head()

       time  price  volume  amount  type
0  15:00:00   3.47       0       0   buy
1  15:00:00   3.47       0       0   buy
2  14:59:58   3.47     100   34700   buy
3  14:59:55   3.46      41   14324  sell
4  14:59:52   3.46      20    6920  sell

In [205]:
df_trans = df_trans[df_trans['volume'] > 0]
df_trans.time = "2018-03-05 " + df_trans.time
df_trans.head()

                  time  price  volume  amount  type
2  2018-03-05 14:59:58   3.47     100   34700   buy
3  2018-03-05 14:59:55   3.46      41   14324  sell
4  2018-03-05 14:59:52   3.46      20    6920  sell
5  2018-03-05 14:59:49   3.46      24    8304  sell
6  2018-03-05 14:59:43   3.46       2     692  sell

In [178]:
df_trans.dtypes

time       object
price     float64
volume      int64
amount      int64
type       object
dtype: object

In [18]:
df_trans.shape

(2454, 3)

In [179]:
df_trans.describe()

             price        volume        amount
count  2454.000000   2454.000000  2.454000e+03
mean      3.447078     67.725754  2.333597e+04
std       0.014834    373.517964  1.282432e+05
min       3.420000      1.000000  3.430000e+02
25%       3.440000     15.000000  5.145000e+03
50%       3.440000     25.000000  8.700000e+03
75%       3.450000     38.000000  1.318600e+04
max       3.480000  10000.000000  3.430000e+06

In [201]:
df_trans.type.value_counts(normalize=True)

sell    0.595762
buy     0.403015
中性盘     0.001222
Name: type, dtype: float64

In [66]:
volume_count_max5 = df_trans.volume.value_counts().head(5)
volume_count_max5

38    399
7     104
9      97
8      97
25     97
Name: volume, dtype: int64

In [64]:
df_trans[df_trans.volume.isin(volume_count_max5.index)]

          time  price  volume
19    14:58:10   3.47       9
50    14:53:05   3.47       8
67    14:46:56   3.47      38
111   14:30:59   3.47      38
113   14:30:47   3.47      38
115   14:30:29   3.47      38
117   14:30:17   3.47      38
118   14:30:08   3.47      38
119   14:29:59   3.47      38
121   14:29:47   3.47      38
124   14:29:29   3.47      38
126   14:29:17   3.47      38
127   14:29:08   3.47      38
129   14:28:59   3.47      38
130   14:28:47   3.47      38
131   14:28:41   3.46       9
132   14:28:38   3.47      38
134   14:28:26   3.47      25
138   14:28:08   3.47      38
139   14:27:56   3.47      38
141   14:27:47   3.47      38
142   14:27:35   3.47      38
147   14:27:05   3.47      38
149   14:26:47   3.47      38
151   14:26:29   3.47      38
152   14:26:17   3.47      38
153   14:26:08   3.47      38
155   14:25:56   3.47      25
156   14:25:50   3.47      38
157   14:25:41   3.47      38
...        ...    ...     ...
2350  09:40:04   3.43       9
2351  09:40:01   3.43       8
2352  09:39:58   3.43       9
2356  09:39:43   3.43       7
2361  09:39:16   3.43      25
2365  09:39:01   3.43       8
2367  09:38:55   3.43       7
2368  09:38:52   3.43       9
2370  09:38:43   3.43       9
2373  09:38:22   3.43      25
2377  09:38:07   3.43      25
2380  09:37:58   3.42       8
2383  09:37:43   3.43       7
2389  09:37:16   3.44       7
2399  09:36:34   3.44       7
2412  09:35:34   3.44       7
2413  09:35:28   3.44       8
2421  09:34:54   3.44       9
2439  09:32:05   3.44      25
2440  09:32:02   3.44       9
2446  09:31:32   3.44       8
2447  09:31:29   3.44       9
2448  09:31:26   3.44      38
2450  09:31:14   3.44       9
2453  09:31:05   3.44       8
2454  09:30:53   3.44      25
2455  09:30:50   3.44      25
2456  09:30:47   3.44       7
2460  09:30:29   3.44      38
2463  09:30:20   3.45       7

[794 rows x 3 columns]

In [235]:
df_trans.groupby(['price', 'volume']).agg(['count'])

              time amount  type
             count  count count
price volume
3.42  7          1      1     1
      8          1      1     1
      13         1      1     1
      16         1      1     1
      17         1      1     1
      18         1      1     1
      21         1      1     1
      22         1      1     1
      35         1      1     1
      37         1      1     1
      77         1      1     1
      5000       1      1     1
      10000      1      1     1
3.43  1          3      3     3
      3          1      1     1
      4          1      1     1
      5          1      1     1
      6          2      2     2
      7         12     12    12
      8         28     28    28
      9         35     35    35
      10        10     10    10
      12         2      2     2
      13         3      3     3
      14        10     10    10
      15        10     10    10
      16        17     17    17
      17        17     17    17
      18        23     23    23
      19         4      4     4
...            ...    ...   ...
3.48  24         1      1     1
      25         9      9     9
      26         1      1     1
      32         1      1     1
      35         1      1     1
      38        91     91    91
      39         3      3     3
      42         1      1     1
      45         1      1     1
      46         1      1     1
      48         2      2     2
      50         1      1     1
      52         1      1     1
      54         1      1     1
      55         1      1     1
      56         1      1     1
      58         1      1     1
      60         1      1     1
      65         1      1     1
      70         1      1     1
      77         1      1     1
      80         1      1     1
      90         1      1     1
      95         1      1     1
      100        1      1     1
      186        1      1     1
      201        1      1     1
      215        1      1     1
      238        1      1     1
      494        1      1     1

[510 rows x 3 columns]

In [111]:
volume_count_max5.index[0]
df_max1 = df_trans[df_trans.volume.isin([volume_count_max5.index[0]])]
df_max1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 399 entries, 67 to 2460
Data columns (total 3 columns):
time      399 non-null object
price     399 non-null float64
volume    399 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 12.5+ KB

In [112]:
df_max1.time = pd.to_datetime(df_max1.time)
df_max1.head()

/home/cloud001/ly/mygithub/stock/local/lib/python3.5/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

                   time  price  volume
67  2018-03-08 14:46:56   3.47      38
111 2018-03-08 14:30:59   3.47      38
113 2018-03-08 14:30:47   3.47      38
115 2018-03-08 14:30:29   3.47      38
117 2018-03-08 14:30:17   3.47      38

In [118]:
df_max1_time_index = df_max1.set_index('time')
df_max1_time_index

                     price  volume
time
2018-03-08 14:46:56   3.47      38
2018-03-08 14:30:59   3.47      38
2018-03-08 14:30:47   3.47      38
2018-03-08 14:30:29   3.47      38
2018-03-08 14:30:17   3.47      38
2018-03-08 14:30:08   3.47      38
2018-03-08 14:29:59   3.47      38
2018-03-08 14:29:47   3.47      38
2018-03-08 14:29:29   3.47      38
2018-03-08 14:29:17   3.47      38
2018-03-08 14:29:08   3.47      38
2018-03-08 14:28:59   3.47      38
2018-03-08 14:28:47   3.47      38
2018-03-08 14:28:38   3.47      38
2018-03-08 14:28:08   3.47      38
2018-03-08 14:27:56   3.47      38
2018-03-08 14:27:47   3.47      38
2018-03-08 14:27:35   3.47      38
2018-03-08 14:27:05   3.47      38
2018-03-08 14:26:47   3.47      38
2018-03-08 14:26:29   3.47      38
2018-03-08 14:26:17   3.47      38
2018-03-08 14:26:08   3.47      38
2018-03-08 14:25:50   3.47      38
2018-03-08 14:25:41   3.47      38
2018-03-08 14:25:32   3.47      38
2018-03-08 14:25:20   3.47      38
2018-03-08 14:25:11   3.47      38
2018-03-08 14:25:02   3.47      38
2018-03-08 14:24:50   3.47      38
...                    ...     ...
2018-03-08 13:07:50   3.45      38
2018-03-08 13:07:41   3.45      38
2018-03-08 13:07:20   3.45      38
2018-03-08 13:06:56   3.44      38
2018-03-08 13:06:50   3.45      38
2018-03-08 13:06:32   3.45      38
2018-03-08 13:06:02   3.45      38
2018-03-08 13:05:50   3.45      38
2018-03-08 13:02:13   3.45      38
2018-03-08 13:02:04   3.45      38
2018-03-08 13:01:43   3.45      38
2018-03-08 13:01:34   3.45      38
2018-03-08 11:24:26   3.44      38
2018-03-08 11:14:43   3.45      38
2018-03-08 10:44:48   3.44      38
2018-03-08 10:44:44   3.44      38
2018-03-08 10:42:29   3.44      38
2018-03-08 10:22:02   3.44      38
2018-03-08 10:20:38   3.44      38
2018-03-08 10:10:17   3.43      38
2018-03-08 10:02:29   3.44      38
2018-03-08 09:57:58   3.43      38
2018-03-08 09:56:07   3.43      38
2018-03-08 09:51:45   3.43      38
2018-03-08 09:49:56   3.43      38
2018-03-08 09:48:02   3.43      38
2018-03-08 09:44:26   3.43      38
2018-03-08 09:42:55   3.43      38
2018-03-08 09:31:26   3.44      38
2018-03-08 09:30:29   3.44      38

[399 rows x 2 columns]

In [170]:
df_count = df_max1_time_index.to_period('T').index.value_counts().rename('mins_count').to_frame()
print (df_count.head())
df_count_new = df_count[df_count.mins_count > 3].sort_index()
df_count_new.mins_count.count() > 10

                  mins_count
2018-03-08 13:14           7
2018-03-08 13:51           6
2018-03-08 14:09           6
2018-03-08 13:28           6
2018-03-08 13:30           6

68

In [174]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("hello.csv")
df.head()
df_replaced = df.replace('买盘', 'buy').replace('卖盘', 'sell')
df_replaced.head()

   Unnamed: 0      time  price change  volume  amount  type
0           0  15:00:00   3.47     --       0       0   buy
1           1  15:00:00   3.47     --       0       0   buy
2           2  14:59:58   3.47   0.01     100   34700   buy
3           3  14:59:55   3.46     --      41   14324  sell
4           4  14:59:52   3.46     --      20    6920  sell

In [33]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

stocks = [
    '601006',
    '600919',
    '601328',
    '000060',
    '600027',
    '600115',
    '603260'
]

df_raw = pd.read_csv("stock/data/trading/history/day/tracking_trading_day.csv")

# df = df_raw.drop(['10m_detail', '20m_detail'], axis=1)
df = df_raw
df.sort_values(by=['total_vol_type_amount'], ascending=False)
df_buy = df[df['type'] == 'buy']
df_sell = df[df['type'] == 'sell']
# print ('amount_pct:')
# print (df.sort_values(by=['amount_pct'], ascending=False))
# print ('code:')
# print (df.sort_values('code'))
print ('tail 20:')
print (df.tail(20))
print ('buy code >2:')
df_2more = df_buy.code.value_counts() > 2
print (df_buy[df_buy.code.isin(df_2more[df_2more == True].index)].sort_values(['code', 'type_pct'], ascending=[True,  False]))

print ('buy code ==2:')
df_2 = df_buy.code.value_counts() == 2
print (df_buy[df_buy.code.isin(df_2[df_2 == True].index)].sort_values(['code', 'type_pct']))

print ('buy code ==1:')
df_1 = df_buy.code.value_counts() == 1
print (df_buy[df_buy.code.isin(df_1[df_1 == True].index)].sort_values(['code', 'type_pct']))
# print (df_buy.sort_values('code'))
# print (df_buy.code.value_counts().head(12).index)
print ('buy code head 12:')
print (df_buy[df_buy.code.isin(df_buy.code.value_counts().head(12).index)].sort_values('code'))

# print ('sell code:')
# print (df_sell.sort_values('code'))
print('buy amount_pct:')
print (df_buy.sort_values(by=['amount_pct'], ascending=False))

# buy_group = df_buy.groupby('code')
# for x in buy_group:
#     print (x)
    
# sell_group = df_sell.groupby('code')



print ("Warning!!!")
print (df_sell[df_sell.code.isin(stocks)])

tail 20:
           date    code  type  type_pct          vol   amount_mean  \
204  2018-03-15     423  sell  0.855905            3  18179.622969
205  2018-03-16  603712  sell  1.000000  [10, 5, 15]  23295.757502
206  2018-03-16  603712  sell  1.000000           10  24901.016616
207  2018-03-16  600622  sell  0.884735            8  12052.965732
208  2018-03-16    2419  sell  0.860465            5  10068.501292
209  2018-03-16  300323  sell  0.791549            5   9704.949296
210  2018-03-16    2271   buy  0.809399           10  44353.605744
211  2018-03-16  300098   buy  0.800518           10  13239.658031
212  2018-03-16  603899   buy  0.752632            4  11168.447368
213  2018-03-16     823  sell  0.948097           11  11382.968858
214  2018-03-16  300296  sell  0.813008            6  13985.924119
215  2018-03-16       6  sell  0.983452           17  13548.451537
216  2018-03-16  600750  sell  0.785388            5  12269.593607
217  2018-03-16    2050   buy  0.752896            8  16173.675676
218  2018-03-16  600660  sell  0.831120            5  13378.089184
219  2018-03-16    2102   buy  0.983553           18   9055.003289
220  2018-03-19    2288   buy  0.958807           20  10716.103693
221  2018-03-19  300142   buy  0.881696            5   9456.000000
222  2018-03-19     568  sell  0.769685            2  12174.167323
223  2018-03-19    2050  sell  0.901408            8  15778.945674

     total_vol_type_amount  amount_pct  day_amount
204           1.436190e+07    0.063398   226536765
205           2.872367e+07    0.027162  1057486057
206           1.648447e+07    0.015588  1057486057
207           3.423042e+06    0.101915    33587085
208           3.352811e+06    0.023161   144758511
209           2.727091e+06    0.013762   198155987
210           1.374962e+07    0.083036   165586292
211           4.091054e+06    0.030763   132986843
212           3.194176e+06    0.051689    61795921
213           3.118933e+06    0.020757   150260525
214           4.195777e+06    0.018591   225685192
215           5.636156e+06    0.027947   201672148
216           2.110370e+06    0.038680    54559560
217           3.153867e+06    0.018608   169490086
218           5.859603e+06    0.027319   214489518
219           2.707446e+06    0.014889   181846768
220           7.233370e+06    0.101493    71269440
221           3.735120e+06    0.018023   207240027
222           4.760099e+06    0.021645   219917459
223           7.068968e+06    0.025621   275910032
buy code >2:
           date    code type  type_pct vol   amount_mean  \
90   2018-03-05    2773  buy  0.936688   4  19216.071429
143  2018-03-09    2773  buy  0.875000   2  10634.631250
171  2018-03-13    2773  buy  0.788274   3  16640.153094
200  2018-03-15  600023  buy  0.986577  31  17860.214765
88   2018-03-05  600023  buy  0.971246  18  10105.223642
89   2018-03-05  600023  buy  0.945255  25  14021.937956

     total_vol_type_amount  amount_pct  day_amount
90            1.108767e+07    0.145424    76243815
143           4.466545e+06    0.054981    81237406
171           4.026917e+06    0.061528    65448322
200           7.876355e+06    0.052679   149516458
88            3.071988e+06    0.034462    89141682
89            3.631682e+06    0.040741    89141682
buy code ==2:
           date    code type  type_pct        vol   amount_mean  \
162  2018-03-13      28  buy  0.842000          2  11960.170000
149  2018-03-12      28  buy  0.873272          3  18052.541475
151  2018-03-12    2126  buy  0.947183         30  28052.211268
96   2018-03-06    2126  buy  0.956044         15  13507.765568
41   2018-02-28    2152  buy  0.906863         20  14302.014706
42   2018-02-28    2152  buy  0.947917         40  28679.497396
61   2018-03-01    2330  buy  0.810811         24  18293.181467
62   2018-03-01    2330  buy  0.825630         25  19050.781513
48   2018-02-28    2341  buy  0.872180         10  24505.969925
49   2018-02-28    2341  buy  0.876000         11  27005.968000
24   2018-02-27    2493  buy  0.915929         12  20031.185841
21   2018-02-26    2493  buy  0.965753         22  37018.770548
95   2018-03-06    2690  buy  0.939837          7  13157.321951
125  2018-03-08    2690  buy  0.972254          7  13394.425433
173  2018-03-13    2876  buy  0.761780          2  13195.908377
136  2018-03-08    2876  buy  0.849699          2  13211.332665
163  2018-03-13  603228  buy  0.771186          3  16115.118644
110  2018-03-07  603228  buy  0.865169          2  10481.898876
126  2018-03-08  603888  buy  0.862069  [4, 5, 9]  10562.591954
127  2018-03-08  603888  buy  0.944867          4   9344.963878

     total_vol_type_amount  amount_pct  day_amount
162           5.035232e+06    0.106470    47292329
149           6.841913e+06    0.113357    60357140
151           7.546045e+06    0.080727    93475897
96            3.525527e+06    0.067354    52343115
41            5.291745e+06    0.027097   195289243
42            1.043934e+07    0.053456   195289243
61            7.683136e+06    0.126844    60571451
62            7.486957e+06    0.123605    60571451
48            5.685385e+06    0.028413   200095852
49            5.914307e+06    0.029557   200095852
24            4.146455e+06    0.013817   300089793
21            1.043929e+07    0.019457   536539287
95            7.604932e+06    0.136968    55523599
125           1.126471e+07    0.222162    50704906
173           3.840009e+06    0.033617   114228776
136           5.601605e+06    0.079732    70255047
163           4.399427e+06    0.086017    51146288
110           4.842637e+06    0.102008    47473277
126           6.337555e+06    0.107093    59178065
127           4.644447e+06    0.078483    59178065
buy code ==1:
           date    code type  type_pct           vol   amount_mean  \
33   2018-02-27     813  buy  0.970588            12  10027.504902
197  2018-03-15    2007  buy  0.791209             5  13761.223443
67   2018-03-01    2044  buy  0.841785             5  11689.324544
217  2018-03-16    2050  buy  0.752896             8  16173.675676
219  2018-03-16    2102  buy  0.983553            18   9055.003289
32   2018-02-27    2120  buy  0.900000             7  29633.521739
72   2018-03-01    2221  buy  0.935185            12  13717.750000
210  2018-03-16    2271  buy  0.809399            10  44353.605744
220  2018-03-19    2288  buy  0.958807            20  10716.103693
191  2018-03-15    2470  buy  0.926070            14  11967.073930
36   2018-02-27    2508  buy  1.000000     [2, 3, 5]  13112.311170
98   2018-03-06    2521  buy  0.942308            11   9805.937500
105  2018-03-06    2530  buy  0.914842             4   9790.742092
35   2018-02-27    2602  buy  0.878289             3   9746.848684
168  2018-03-13    2624  buy  0.863980             5  16414.085642
138  2018-03-09    2798  buy  0.950949             4  19020.601266
117  2018-03-07    2905  buy  0.797642             3  11150.123772
22   2018-02-26  300069  buy  0.914397             5  15643.883268
211  2018-03-16  300098  buy  0.800518            10  13239.658031
51   2018-02-28  300101  buy  0.959144            15  21626.470817
221  2018-03-19  300142  buy  0.881696             5   9456.000000
178  2018-03-14  300323  buy  0.916667            14  27922.742063
158  2018-03-12  300373  buy  0.782875            10  28236.422018
156  2018-03-12  300567  buy  0.815217             2  26714.565217
39   2018-02-28  300571  buy  0.822917             2  12471.162500
43   2018-02-28  600011  buy  0.927966            30  18650.597458
20   2018-02-23  600027  buy  0.957393            38  13155.373434
19   2018-02-23  600116  buy  0.992208            14  10691.145454
160  2018-03-12  600201  buy  0.914286             7  21415.651020
152  2018-03-12  600211  buy  0.930269             5  18134.435816
..          ...     ...  ...       ...           ...           ...
135  2018-03-08  600315  buy  0.826230             3  10425.436066
174  2018-03-14  600346  buy  0.950640            14  22124.021938
150  2018-03-12  600377  buy  0.971875            21  20768.546875
139  2018-03-09  600521  buy  0.887255             5  14964.049020
68   2018-03-01  600535  buy  0.902965             7  25238.318059
186  2018-03-14  600595  buy  0.969565            24  10872.426087
164  2018-03-13  600596  buy  0.917526            35  49289.123711
47   2018-02-28  600612  buy  0.865385             3  13115.461538
169  2018-03-13  600643  buy  0.963554            19  23728.289294
30   2018-02-27  600702  buy  0.844485             4  16515.907776
23   2018-02-26  600803  buy  0.951691            16  20017.840580
91   2018-03-05  600885  buy  0.804487             5  22270.298077
13   2018-02-23  600990  buy  0.854083             2   9126.045515
65   2018-03-01  601117  buy  0.979866            33  22131.802013
101  2018-03-06  603025  buy  0.818662             3  10299.595070
137  2018-03-09  603040  buy  0.907843             3  20110.527451
153  2018-03-12  603096  buy  0.900322             2  14884.184887
102  2018-03-06  603298  buy  0.953425             7  10662.484931
31   2018-02-27  603338  buy  0.763636             2  13909.598182
181  2018-03-14  603365  buy  0.891534             4   9891.706349
157  2018-03-12  603369  buy  0.867841            20  33817.127753
73   2018-03-01  603416  buy  0.794425             5  14663.717770
183  2018-03-14  603605  buy  0.802381             5  14143.350000
63   2018-03-01  603690  buy  0.853333            10  17433.154667
97   2018-03-06  603737  buy  0.838095             3  19612.380952
184  2018-03-14  603758  buy  0.925687  [17, 18, 35]  24646.852989
56   2018-02-28  603895  buy  0.864198     [2, 3, 5]  15341.501235
212  2018-03-16  603899  buy  0.752632             4  11168.447368
124  2018-03-08  603938  buy  0.752412             3  10338.012862
10   2018-02-22  603989  buy  0.887283             3  10332.523121

     total_vol_type_amount  amount_pct  day_amount
33            1.985446e+06    0.062067    31988773
197           2.972424e+06    0.018038   164784071
67            4.851070e+06    0.036500   132905576
217           3.153867e+06    0.018608   169490086
219           2.707446e+06    0.014889   181846768
32            6.134139e+06    0.108356    56611210
72            2.770986e+06    0.029575    93692238
210           1.374962e+07    0.083036   165586292
220           7.233370e+06    0.101493    71269440
191           2.848164e+06    0.024771   114979978
36            9.860458e+06    0.050081   196888311
98            1.921964e+06    0.031595    60831129
105           3.681319e+06    0.125217    29399450
35            2.602409e+06    0.030194    86189888
168           5.630031e+06    0.043686   128874984
138           1.143138e+07    0.253626    45071885
117           4.526950e+06    0.048385    93560419
22            3.676313e+06    0.015868   231686580
211           4.091054e+06    0.030763   132986843
51            1.066185e+07    0.036440   292584432
221           3.735120e+06    0.018023   207240027
178           6.450153e+06    0.027703   232831251
158           7.228524e+06    0.031417   230083716
156           1.001796e+07    0.102450    97783900
39            4.926109e+06    0.084256    58465802
43            4.084481e+06    0.118083    34589780
20            5.025353e+06    0.098880    50822506
19            4.084018e+06    0.098892    41297849
160           9.594212e+06    0.041725   229936762
152           1.064491e+07    0.175247    60742438
..                     ...         ...         ...
135           2.627210e+06    0.047587    55208471
174           1.150449e+07    0.053232   216120710
150           6.459018e+06    0.181369    35612573
139           8.125479e+06    0.038218   212611010
68            8.454837e+06    0.088648    95375179
186           2.424551e+06    0.035085    69104153
164           8.773464e+06    0.021244   412984998
47            5.901958e+06    0.126999    46472651
169           1.003707e+07    0.031245   321241357
30            7.712929e+06    0.024144   319450976
23            3.943515e+06    0.034745   113498986
91            5.589845e+06    0.051667   108189712
13            5.822417e+06    0.110642    52623784
65            6.462486e+06    0.063924   101096404
101           4.789312e+06    0.068855    69556482
137           9.311174e+06    0.189698    49084194
153           8.335144e+06    0.145490    57290031
102           3.710545e+06    0.119334    31093840
31            5.842031e+06    0.065258    89521560
181           3.333505e+06    0.098619    33801991
157           6.661974e+06    0.054486   122269843
73            3.343328e+06    0.067957    49197710
183           4.766309e+06    0.032145   148277555
63            5.578609e+06    0.085481    65261517
97            5.177669e+06    0.068935    75109033
184           1.412265e+07    0.194240    72707209
56            5.369525e+06    0.017328   309871836
212           3.194176e+06    0.051689    61795921
124           2.419095e+06    0.019858   121819133
10            3.172085e+06    0.107840    29414598

[63 rows x 9 columns]
buy code head 12:
           date    code type  type_pct        vol   amount_mean  \
162  2018-03-13      28  buy  0.842000          2  11960.170000
149  2018-03-12      28  buy  0.873272          3  18052.541475
96   2018-03-06    2126  buy  0.956044         15  13507.765568
151  2018-03-12    2126  buy  0.947183         30  28052.211268
41   2018-02-28    2152  buy  0.906863         20  14302.014706
42   2018-02-28    2152  buy  0.947917         40  28679.497396
61   2018-03-01    2330  buy  0.810811         24  18293.181467
62   2018-03-01    2330  buy  0.825630         25  19050.781513
48   2018-02-28    2341  buy  0.872180         10  24505.969925
49   2018-02-28    2341  buy  0.876000         11  27005.968000
21   2018-02-26    2493  buy  0.965753         22  37018.770548
24   2018-02-27    2493  buy  0.915929         12  20031.185841
95   2018-03-06    2690  buy  0.939837          7  13157.321951
125  2018-03-08    2690  buy  0.972254          7  13394.425433
143  2018-03-09    2773  buy  0.875000          2  10634.631250
171  2018-03-13    2773  buy  0.788274          3  16640.153094
90   2018-03-05    2773  buy  0.936688          4  19216.071429
173  2018-03-13    2876  buy  0.761780          2  13195.908377
136  2018-03-08    2876  buy  0.849699          2  13211.332665
89   2018-03-05  600023  buy  0.945255         25  14021.937956
88   2018-03-05  600023  buy  0.971246         18  10105.223642
200  2018-03-15  600023  buy  0.986577         31  17860.214765
110  2018-03-07  603228  buy  0.865169          2  10481.898876
163  2018-03-13  603228  buy  0.771186          3  16115.118644
126  2018-03-08  603888  buy  0.862069  [4, 5, 9]  10562.591954
127  2018-03-08  603888  buy  0.944867          4   9344.963878

     total_vol_type_amount  amount_pct  day_amount
162           5.035232e+06    0.106470    47292329
149           6.841913e+06    0.113357    60357140
96            3.525527e+06    0.067354    52343115
151           7.546045e+06    0.080727    93475897
41            5.291745e+06    0.027097   195289243
42            1.043934e+07    0.053456   195289243
61            7.683136e+06    0.126844    60571451
62            7.486957e+06    0.123605    60571451
48            5.685385e+06    0.028413   200095852
49            5.914307e+06    0.029557   200095852
21            1.043929e+07    0.019457   536539287
24            4.146455e+06    0.013817   300089793
95            7.604932e+06    0.136968    55523599
125           1.126471e+07    0.222162    50704906
143           4.466545e+06    0.054981    81237406
171           4.026917e+06    0.061528    65448322
90            1.108767e+07    0.145424    76243815
173           3.840009e+06    0.033617   114228776
136           5.601605e+06    0.079732    70255047
89            3.631682e+06    0.040741    89141682
88            3.071988e+06    0.034462    89141682
200           7.876355e+06    0.052679   149516458
110           4.842637e+06    0.102008    47473277
163           4.399427e+06    0.086017    51146288
126           6.337555e+06    0.107093    59178065
127           4.644447e+06    0.078483    59178065
buy amount_pct:
           date    code type  type_pct           vol   amount_mean  \
138  2018-03-09    2798  buy  0.950949             4  19020.601266
125  2018-03-08    2690  buy  0.972254             7  13394.425433
184  2018-03-14  603758  buy  0.925687  [17, 18, 35]  24646.852989
137  2018-03-09  603040  buy  0.907843             3  20110.527451
150  2018-03-12  600377  buy  0.971875            21  20768.546875
152  2018-03-12  600211  buy  0.930269             5  18134.435816
3    2018-02-22  600285  buy  0.982456            12  10255.511278
153  2018-03-12  603096  buy  0.900322             2  14884.184887
90   2018-03-05    2773  buy  0.936688             4  19216.071429
95   2018-03-06    2690  buy  0.939837             7  13157.321951
47   2018-02-28  600612  buy  0.865385             3  13115.461538
61   2018-03-01    2330  buy  0.810811            24  18293.181467
105  2018-03-06    2530  buy  0.914842             4   9790.742092
62   2018-03-01    2330  buy  0.825630            25  19050.781513
102  2018-03-06  603298  buy  0.953425             7  10662.484931
43   2018-02-28  600011  buy  0.927966            30  18650.597458
149  2018-03-12      28  buy  0.873272             3  18052.541475
13   2018-02-23  600990  buy  0.854083             2   9126.045515
32   2018-02-27    2120  buy  0.900000             7  29633.521739
10   2018-02-22  603989  buy  0.887283             3  10332.523121
126  2018-03-08  603888  buy  0.862069     [4, 5, 9]  10562.591954
162  2018-03-13      28  buy  0.842000             2  11960.170000
156  2018-03-12  300567  buy  0.815217             2  26714.565217
110  2018-03-07  603228  buy  0.865169             2  10481.898876
220  2018-03-19    2288  buy  0.958807            20  10716.103693
19   2018-02-23  600116  buy  0.992208            14  10691.145454
20   2018-02-23  600027  buy  0.957393            38  13155.373434
181  2018-03-14  603365  buy  0.891534             4   9891.706349
66   2018-03-01  600238  buy  0.980836            14  11432.750871
68   2018-03-01  600535  buy  0.902965             7  25238.318059
..          ...     ...  ...       ...           ...           ...
67   2018-03-01    2044  buy  0.841785             5  11689.324544
51   2018-02-28  300101  buy  0.959144            15  21626.470817
186  2018-03-14  600595  buy  0.969565            24  10872.426087
23   2018-02-26  600803  buy  0.951691            16  20017.840580
88   2018-03-05  600023  buy  0.971246            18  10105.223642
173  2018-03-13    2876  buy  0.761780             2  13195.908377
183  2018-03-14  603605  buy  0.802381             5  14143.350000
98   2018-03-06    2521  buy  0.942308            11   9805.937500
158  2018-03-12  300373  buy  0.782875            10  28236.422018
169  2018-03-13  600643  buy  0.963554            19  23728.289294
211  2018-03-16  300098  buy  0.800518            10  13239.658031
35   2018-02-27    2602  buy  0.878289             3   9746.848684
72   2018-03-01    2221  buy  0.935185            12  13717.750000
49   2018-02-28    2341  buy  0.876000            11  27005.968000
48   2018-02-28    2341  buy  0.872180            10  24505.969925
178  2018-03-14  300323  buy  0.916667            14  27922.742063
41   2018-02-28    2152  buy  0.906863            20  14302.014706
191  2018-03-15    2470  buy  0.926070            14  11967.073930
30   2018-02-27  600702  buy  0.844485             4  16515.907776
164  2018-03-13  600596  buy  0.917526            35  49289.123711
64   2018-03-01  600258  buy  0.781609             5  16235.997126
124  2018-03-08  603938  buy  0.752412             3  10338.012862
21   2018-02-26    2493  buy  0.965753            22  37018.770548
217  2018-03-16    2050  buy  0.752896             8  16173.675676

In [315]:
df_trans.amount.sum()

57266459